# =========================
# .NET / C# (Backend)
# =========================
[Bb]in/
[Oo]bj/
appsettings.Development.json
*.user

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sw?